.card{
    width:200px;
    height:300px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
label{
    width: max-content;
    color: tomato;
    font-size: 13px;
    border-bottom-color: tomato;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin: 3px 0;  
}
.desc{
   font-size: 14px; 
}
.star{
    color: gold;
}
.username{
    font-size: 14px;
}
.date{
    font-size: 12px;
}
form {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(88, 87, 87);
  }
  
  input {
    border: none;
    border-bottom: 1px solid gray;
  }
  
  input::placeholder,
  textarea::placeholder {
    font-size: 12px;
    color: rgb(185, 184, 184);
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
  
  textarea {
    border: none;
    border-bottom: 1px solid gray;
  }
  
  .submitButton {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: tomato;
    cursor: pointer;
  }
  
  .buttons,
  .logout {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
  }
  
  .button:focus{
    outline: none;
    margin-left: 30px;
  }
  
  .logout{
    background-color: red;
    margin-top: 20px;
    margin-right: 30px;
  }
  
  .login{
    background-color: rgb(0, 128, 15);
    margin-right: 10px;
  }
  
  .register{
    background-color: rgb(30, 57, 167);
    margin-top: 20px;
    margin-right: 30px;
  }